services:
  - type: web
    name: gmail-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: PORT
        value: 8080
    healthCheckPath: /health
    autoDeploy: true
    plan: free
